<mat-grid-list cols="4" rowHeight="1.8:1">
  <mat-grid-tile
    ><mat-checkbox color="accent" class="example-margin"
      >Wide</mat-checkbox
    ></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-checkbox color="warn" class="example-margin"
      >NB</mat-checkbox
    ></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-checkbox color="primary" class="example-margin"
      >LB</mat-checkbox
    ></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-checkbox color="primary" class="example-margin"
      >Byes</mat-checkbox
    ></mat-grid-tile
  >
  <mat-grid-tile colspan="2"
    ><mat-checkbox color="warn" class="example-margin"
      >Wicket</mat-checkbox
    ></mat-grid-tile
  >
  <mat-grid-tile colspan="2">
    <div class="example-button-row">
      <button
        (click)="addRun('0', 'dot')"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        Dot
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        (click)="addRun('1', 'run')"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        1
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        (click)="addRun('2', 'run')"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        2
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        (click)="addRun('3', 'run')"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        3
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        (click)="addRun('4', 'four')"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        4
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        (click)="addRun('6', 'six')"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        6
      </button>
    </div></mat-grid-tile
  >

  <mat-grid-tile
    ><div class="example-button-row smallText">
      <button
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        Penalty Runs
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        Retire
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row">
      <button
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        Swap
      </button>
    </div></mat-grid-tile
  >

  <mat-grid-tile
    ><div class="example-button-row smallText">
      <button
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        Change Bowler
      </button>
    </div></mat-grid-tile
  >

  <mat-grid-tile
    ><div class="example-button-row">
      <button
        [disabled]="
          liveMatchService.currentBowlNumber > 0 ||
          liveMatchService.currentOverNumber > 0
            ? null
            : 'true'
        "
        (click)="undo()"
        color="primary"
        mat-raised-button
        style="width: 10em; height: 6em"
      >
        Undo
      </button>
    </div></mat-grid-tile
  >

  <mat-grid-tile
    ><div class="example-button-row smallText">
      <button color="accent" mat-raised-button style="width: 10em; height: 6em">
        End Innings
      </button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    ><div class="example-button-row smallText">
      <button color="warn" mat-raised-button style="width: 10em; height: 6em">
        Exit Match
      </button>
    </div></mat-grid-tile
  >
</mat-grid-list>
