table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
}

td,
th {
  width: 25%;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
