<mat-tab-group>
  <mat-tab label="Player Details">
    <div>
      <div
        class="grid grid-cols-3 place-items-start gap-4 mb-2"
        style="height: 60px; padding-top: 10px; padding-left: 5px"
      >
        <div>
          <button
            mat-mini-fab
            color="primary"
            (click)="router.navigateByUrl(backTarget)"
          >
            <img
              src="https://img.icons8.com/?size=100&id=65a5j6IY0Vy2&format=png&color=FFFFFF"
              style="width: 40px"
            />
          </button>
        </div>
        <div class="col-span-2">
          <h2
            style="
              text-align: center;
              margin-top: 5px;
              margin-bottom: 5px;
              margin-left: 30px;
            "
          >
            {{ currentPlayer?.name }}
          </h2>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4 place-items-center">
        <ng-container *ngFor="let stat of overviewStats">
          <div class="stat-card-overview" style="display: inline">
            <button mat-fab>
              <div style="margin-bottom: 15px; width: 50px; margin-top: 10px">
                {{ stat.label }}
              </div>
              <div style="margin-bottom: 20px">
                <h1 style="font-weight: 700; font-size: 50px">
                  {{ stat.value }}
                </h1>
              </div>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div style="display: flex; place-content: center; flex-wrap: wrap">
      <mat-button-toggle-group
        appearance="standard"
        #selectedStat="matButtonToggleGroup"
        [value]="selectedStatOption"
      >
        <mat-button-toggle value="batting" aria-label="Text align left">
          Batting
        </mat-button-toggle>
        <mat-button-toggle value="bowling" aria-label="Text align center">
          Bowling
        </mat-button-toggle>
        <mat-button-toggle value="fielding" aria-label="Text align right">
          Fielding
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngIf="selectedStat.value === 'batting'">
      <div class="grid grid-cols-2 gap-4 place-items-center mt-4">
        <ng-container *ngFor="let stat of batsmenStats">
          <div class="stat-card-role col-span-1" style="display: inline">
            <button mat-fab>
              <div style="margin-bottom: 40px; margin-top: 10px">
                {{ stat.label }}
              </div>
              <div style="margin-bottom: 40px">
                <h1 style="font-weight: 700; font-size: 80px; display: inline">
                  {{ stat.value | number : "1.0-0" }}
                </h1>
                <span
                  style="position: absolute; top: 45px; font-size: xx-large"
                  >{{
                    stat.label === "Highest Score" && currentPlayer?.isNotOutHS
                      ? "*"
                      : ""
                  }}</span
                >
              </div>
            </button>
          </div>
        </ng-container>
      </div>
      <div class="grid grid-cols-3 gap-4 place-items-center">
        <ng-container *ngFor="let stat of extendedBattingStats">
          <div class="stat-card-overview" style="display: inline">
            <button mat-fab>
              <div style="margin-bottom: 15px; width: 50px; margin-top: 10px">
                {{ stat.label }}
              </div>
              <div style="margin-bottom: 20px">
                <h1 style="font-weight: 700; font-size: 50px">
                  {{ stat.value | number : "1.0-1" }}
                </h1>
              </div>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="selectedStat.value === 'bowling'">
      <div class="grid grid-cols-2 gap-4 place-items-center mt-4">
        <ng-container *ngFor="let stat of bowlerStats">
          <div class="stat-card-role col-span-1" style="display: inline">
            <button mat-fab>
              <div style="margin-bottom: 40px; margin-top: 10px">
                {{ stat.label }}
              </div>
              <div style="margin-bottom: 40px">
                <h1
                  *ngIf="stat.label !== 'BBI' && stat.label !== 'Wickets'"
                  style="font-weight: 700; font-size: 80px"
                >
                  {{ stat.value | number : "1.1-1" }}
                </h1>
                <h1
                  *ngIf="stat.label === 'BBI' || stat.label === 'Wickets'"
                  style="font-weight: 700; font-size: 80px"
                >
                  {{ stat.value }}
                </h1>
              </div>
            </button>
          </div>
        </ng-container>
      </div>
      <div class="grid grid-cols-3 gap-4 place-items-center">
        <ng-container *ngFor="let stat of extendedBowlingStats">
          <div class="stat-card-overview" style="display: inline">
            <button mat-fab>
              <div style="margin-bottom: 15px; width: 50px; margin-top: 10px">
                {{ stat.label }}
              </div>
              <div style="margin-bottom: 20px">
                <h1 style="font-weight: 700; font-size: 50px">
                  {{ stat.value | number : "1.0-1" }}
                </h1>
              </div>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      *ngIf="selectedStat.value === 'fielding'"
      class="grid grid-cols-2 gap-4 place-items-center mt-4"
    >
      <ng-container *ngFor="let stat of fielderStats">
        <div class="stat-card-role col-span-1" style="display: inline">
          <button mat-fab>
            <div style="margin-bottom: 40px; margin-top: 10px">
              {{ stat.label }}
            </div>
            <div style="margin-bottom: 40px">
              <h1 style="font-weight: 700; font-size: 80px">
                {{ stat.value }}
              </h1>
            </div>
          </button>
        </div>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Matches Played">
    <app-match-list
      [matchIds]="currentPlayer?.matchIds"
      [isPlayerList]="true"
      [backTarget]="backTarget"
      playerName="{{ currentPlayer?.name }}"
    ></app-match-list>
  </mat-tab>
</mat-tab-group>
