<div class="main grid justify-content-center">
  <div class="grid place-items-center">
    <div class="example-button-row grid place-items-center">
      <div *ngIf="roomService.currentRoom !== null">
        <h1 class="text-6xl text-purple-800 font-mono">
          Current room id is {{ roomService.currentRoom.roomId }}
        </h1>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          style="width: 12em; height: 6em"
          (click)="openCodeDialog()"
        >
          Create New Match
        </button>
      </div>

      <div>
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="viewAllPlayers()"
        >
          View All Players
        </button>
      </div>

      <div>
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="viewAllMatches()"
        >
          View All Matches
        </button>
      </div>

      <div>
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="viewStats()"
        >
          View Stats
        </button>
      </div>

      <div *ngIf="!isProdEnv">
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="viewAllTestMatches()"
        >
          View All Test Matches
        </button>
      </div>

      <div *ngIf="!isProdEnv">
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="viewAllTestPlayers()"
        >
          View All Test Players
        </button>
      </div>

      <div *ngIf="!isProdEnv">
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="viewTestStats()"
        >
          View Test Stats
        </button>
      </div>

      <div *ngIf="!isProdEnv">
        <button
          mat-raised-button
          style="width: 10em; height: 6em"
          (click)="UpdateProdPlayerData()"
        >
          Update Prod Player Data
        </button>
      </div>

      <div *ngIf="roomService.currentRoom !== null">
        <button
          mat-raised-button
          color="warn"
          style="width: 7em; height: 4em; background-color: red"
          (click)="exit()"
        >
          Exit Room
        </button>
      </div>
    </div>
  </div>
</div>
