<div class="grid place-items-center" style="margin-top: 12px">
  <div class="w-[100%] flex justify-between">
    <div class="ml-4">
      <h1 style="display: inline">
        {{
          matchService.teamData[this.matchService.currentRoles["bat"]]
            .runsScored
        }}
        /
        {{
          matchService.teamData[this.matchService.currentRoles["bat"]]
            .wicketsLost
        }}
      </h1>
      <h3 style="display: inline">
        {{
          matchService.teamData[this.matchService.currentRoles["bat"]]
            .oversPlayed | number : "1.1-1"
        }}
        Overs
      </h3>
    </div>
    <div class="mr-4">
      <h1 style="display: inline">
        CRR:
        {{
          matchService.teamData[this.matchService.currentRoles["bat"]].runRate
            | number : "1.1-2"
        }}
      </h1>
    </div>
    <div *ngIf="matchService.isSecondInning">
      <h1 style="display: inline">target: 68</h1>
    </div>
  </div>
  <br />
  <div #overView class="grid grid-cols-6 gap-2">
    <ng-container
      *ngFor="
        let ball of matchService.teamData[this.matchService.currentRoles['bat']]
          .oversPlayedData[liveMatchService.currentOverNumber]
      "
    >
      <div>
        <button
          class="{{ ball.class }}"
          mat-mini-fab
          matTooltip="Primary"
          color="primary"
          [disabled]="ball.hasBeenBowled ? null : 'true'"
          aria-label="Example mini fab with a heart icon"
        >
          {{ ball.label }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
<br />

<table mat-table [dataSource]="dataSourceBatsmen" class="mat-elevation-z8">
  <ng-container matColumnDef="nameBat">
    <th mat-header-cell *matHeaderCellDef>Batsmen</th>
    <td (click)="openStat(element.name)" mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="runs">
    <th mat-header-cell *matHeaderCellDef>R</th>
    <td mat-cell *matCellDef="let element">{{ element.runs }}</td>
  </ng-container>

  <ng-container matColumnDef="balls">
    <th mat-header-cell *matHeaderCellDef>B</th>
    <td mat-cell *matCellDef="let element">{{ element.balls }}</td>
  </ng-container>

  <ng-container matColumnDef="S/R">
    <th mat-header-cell *matHeaderCellDef>S/R</th>
    <td mat-cell *matCellDef="let element">
      {{ element.sr | number : "1.0-2" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<h1></h1>

<table mat-table [dataSource]="dataSourceBowler" class="mat-elevation-z8">
  <ng-container matColumnDef="nameBowl">
    <th mat-header-cell *matHeaderCellDef>Bowler</th>
    <td (click)="openStat(element.name)" mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="runs">
    <th mat-header-cell *matHeaderCellDef>R</th>
    <td mat-cell *matCellDef="let element">{{ element.runs }}</td>
  </ng-container>

  <ng-container matColumnDef="overs">
    <th mat-header-cell *matHeaderCellDef>O</th>
    <td mat-cell *matCellDef="let element">
      {{ element.overs | number : "1.1-1" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="wickets">
    <th mat-header-cell *matHeaderCellDef>W</th>
    <td mat-cell *matCellDef="let element">{{ element.wickets }}</td>
  </ng-container>

  <ng-container matColumnDef="eco">
    <th mat-header-cell *matHeaderCellDef>Eco.</th>
    <td mat-cell *matCellDef="let element">
      {{ element.eco | number : "1.1-2" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsBowler"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsBowler"></tr>
</table>

<app-scoring-actions></app-scoring-actions>
