<div class="grid place-items-center" style="margin-top: 12px">
  <div class="w-[100%] flex justify-between items-center">
    <div class="ml-4">
      <h3 style="display: inline; font-weight: 500">
        {{ matchService.teamData[matchService.currentRoles["bat"]].name }}
      </h3>
      <br />
      <h2 style="display: inline">
        <b>
          {{
            matchService.teamData[this.matchService.currentRoles["bat"]]
              .runsScored
          }}
          /
          {{
            matchService.teamData[this.matchService.currentRoles["bat"]]
              .wicketsLost
          }}
        </b>
      </h2>
      <br />
      <h4 style="display: inline">
        {{
          matchService.teamData[this.matchService.currentRoles["bat"]]
            .oversPlayed | number : "1.1-1"
        }}
        Overs
      </h4>
    </div>
    <div>
      <h4
        *ngIf="matchService.isSecondInning"
        style="margin-bottom: 0; text-align: center"
      >
        <b style="color: green; font-size: xx-large">{{
          matchService.teamData[this.matchService.currentRoles["bat"]]
            .requiredRuns
        }}</b>
        from
        <b style="color: red; font-size: large">{{
          matchService.teamData[this.matchService.currentRoles["bat"]].ballsLeft
        }}</b>
      </h4>
      <h5 style="margin-bottom: 0">
        Extras (W:{{
          matchService.teamData[this.matchService.currentRoles["bat"]].extras[
            "w"
          ]
        }}, NB:{{
          matchService.teamData[this.matchService.currentRoles["bat"]].extras[
            "nb"
          ]
        }}, LB:{{
          matchService.teamData[this.matchService.currentRoles["bat"]].extras[
            "lb"
          ]
        }}, B:{{
          matchService.teamData[this.matchService.currentRoles["bat"]].extras[
            "b"
          ]
        }})
      </h5>
      <h4 style="margin-bottom: 0; text-align: center">
        Patnership: {{ liveMatchService.currentPatnership.runs }}({{
          liveMatchService.currentPatnership.balls
        }})
      </h4>
    </div>
    <div class="mr-4">
      <h4 style="margin-bottom: 0">
        CRR:
        {{
          matchService.teamData[this.matchService.currentRoles["bat"]].runRate
            | number : "1.1-2"
        }}
      </h4>
      <h4 *ngIf="matchService.isSecondInning" style="margin-bottom: 0">
        <b
          >Target:
          {{
            matchService.teamData[matchService.currentRoles["bat"]].targetRuns
          }}</b
        >
      </h4>
      <h4 *ngIf="matchService.isSecondInning" style="margin-bottom: 0">
        RRR:
        {{
          matchService.teamData[matchService.currentRoles["bat"]]
            .requiredRunRate
        }}
      </h4>
    </div>
  </div>
  <br />
  <div
    #overView
    *ngIf="!overCompleted"
    [ngClass]="
      'grid gap-2 grid-cols-' +
      matchService.teamData[this.matchService.currentRoles['bat']]
        .oversPlayedData[liveMatchService.currentOverNumber].length
    "
  >
    <ng-container
      *ngFor="
        let ball of matchService.teamData[this.matchService.currentRoles['bat']]
          .oversPlayedData[liveMatchService.currentOverNumber]
      "
    >
      <div>
        <button
          class="{{ ball.class }}"
          mat-mini-fab
          matTooltip="Primary"
          color="primary"
          [disabled]="ball.hasBeenBowled ? null : 'true'"
        >
          {{ ball.label }}
        </button>
      </div>
    </ng-container>
  </div>
  <div *ngIf="overCompleted" class="grid grid-cols-6 gap-2">
    <ng-container *ngFor="let _ of [].constructor(6)">
      <div>
        <button mat-mini-fab matTooltip="Primary" color="primary" disabled>
          -
        </button>
      </div>
    </ng-container>
  </div>
</div>
<br />

<table mat-table [dataSource]="dataSourceBatsmen" class="mat-elevation-z8">
  <ng-container matColumnDef="nameBat">
    <th mat-header-cell *matHeaderCellDef>Batsmen</th>
    <td (click)="openStat(element.name)" mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="runs">
    <th mat-header-cell *matHeaderCellDef>R</th>
    <td mat-cell *matCellDef="let element">{{ element.runs }}</td>
  </ng-container>

  <ng-container matColumnDef="balls">
    <th mat-header-cell *matHeaderCellDef>B</th>
    <td mat-cell *matCellDef="let element">{{ element.balls }}</td>
  </ng-container>

  <ng-container matColumnDef="4s">
    <th mat-header-cell *matHeaderCellDef>4s</th>
    <td mat-cell *matCellDef="let element">{{ element.fours }}</td>
  </ng-container>

  <ng-container matColumnDef="6s">
    <th mat-header-cell *matHeaderCellDef>6s</th>
    <td mat-cell *matCellDef="let element">{{ element.six }}</td>
  </ng-container>

  <ng-container matColumnDef="S/R">
    <th mat-header-cell *matHeaderCellDef>S/R</th>
    <td mat-cell *matCellDef="let element">
      {{ element.sr | number : "1.0-2" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<h1></h1>

<table mat-table [dataSource]="dataSourceBowler" class="mat-elevation-z8">
  <ng-container matColumnDef="nameBowl">
    <th mat-header-cell *matHeaderCellDef>Bowler</th>
    <td (click)="openStat(element.name)" mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="runs">
    <th mat-header-cell *matHeaderCellDef>R</th>
    <td mat-cell *matCellDef="let element">{{ element.runs }}</td>
  </ng-container>

  <ng-container matColumnDef="overs">
    <th mat-header-cell *matHeaderCellDef>O</th>
    <td mat-cell *matCellDef="let element">
      {{ element.overs | number : "1.1-1" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="wickets">
    <th mat-header-cell *matHeaderCellDef>W</th>
    <td mat-cell *matCellDef="let element">{{ element.wickets }}</td>
  </ng-container>

  <ng-container matColumnDef="eco">
    <th mat-header-cell *matHeaderCellDef>Eco.</th>
    <td mat-cell *matCellDef="let element">
      {{ element.eco | number : "1.1-2" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsBowler"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsBowler"></tr>
</table>

<app-scoring-actions></app-scoring-actions>
